.number-display {
    display: flex;
    width: 960;
    border: 4px solid !important;
    border-radius: 24;
    padding: 36;
    margin-bottom: 18;
    margin-top: 18;
}

/* Numbers */
.number-display div div:nth-child(1) {
    font-size: 240;
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
}

/* legend */
.number-display div div:nth-child(2) {
    color: #888;
    font-size: 24;
    text-align: center;
}

.back-button {
    width: 80;
    height: 60;
    border-radius: 10;
    background: #fff;
    padding: 0;
    border: 2px solid var(--accent-color-start);
    align-items: center;
}

.back-button button {
    font-size: 40;
    color: var(--accent-color-start);
    margin: auto;
    margin-left: 20;
    background: #fff;
    padding: 0;
    border: 0;
}

.key-pad div button {
    width: 150;
    height: 100;
    margin: 12;
    border-radius: 12;
    font-size: 80;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff
}

/* Set and clear button */
.key-pad div button:nth-child(6) {
    color: var(--accent-color-start);
    border-color: var(--accent-color-start);
    vertical-align: 23%;
    font-size: 48;
}