body {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --selection-height: 104px;
  --accent-color-start: #7b4be6;
  --accent-color-end: #6a3be0;
  --accent: linear-gradient(90deg, var(--accent-color-start), var(--accent-color-end));
}


/* Recipe UI styles */
.recipe-root {
  max-width: 1400px;
  margin: 0 auto;
  color: #111;
}

.thumbnails {
  display: flex;
  overflow: auto;
  opacity: 0.5;
}

.thumb-active {
  opacity: 1;
  /* border: 6px var(--accent-color-end) solid; */
}

.thumb {
  width: calc(var(--selection-height) * 0.8);
  height: var(--selection-height);
  border-radius: 6px;
  overflow: hidden;
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumb-btn {
  background: transparent;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

.timer-play {
  margin-left: auto;
  position: absolute;
  right: 0px;
  top: 21px;
}

.nav-triangle-r,
.play-triangle,
.nav-triangle-l {
  height: var(--selection-height);
  background: var(--accent);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

.nav-triangle-l,
.nav-triangle-r {
  width: calc(var(--selection-height) * 0.2);
}

.play-triangle {
  width: var(--selection-height);
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.nav-triangle-l {
  clip-path: polygon(100% 0, 0 50%, 100% 100%);
}

.nav-triangle-r {
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}


.recipe-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 28px 0 80px 0;
  align-items: start;
}

.left-col {
  display: flex;
  flex-direction: column;
  gap: 12px
}

.main-image {
  width: 100%;
  max-width: 520px;
  height: auto;
  border-radius: 4px;
  display: block;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.ingredients {
  font-size: 27px;
  margin-top: 18px;
  max-width: 520px;
}

.ingredients h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
}

.ingredients .meta {
  color: #666;
  margin-bottom: 8px;
}

.ingredients ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ingredients li {
  padding: 8px 0;
  border-bottom: 1px dotted #e6e6e6;
}

.ingredients h3 {
  font-size: 32px;
  font-weight: 700;
}

.cook-steps {
  margin-top: 24px;
  font-size: 27px;
}

.cook-steps h4 {
  margin: 0 0 8px 0;
}

.cook-steps .time {
  color: #666;
  margin-bottom: 12px
}

.cook-steps ol {
  padding-left: 0;
  margin: 0;
}

.cook-steps li {
  display: flex;
  gap: 12px;
  margin-bottom: 18px;
  align-items: flex-start
}

.step-num {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 37px;
  font-weight: 700;
}